---
navItems:
  - title: Work
    slug: work
  - title: Projects
    slug: projects
  - title: Resume
    slug: resume
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/style.css' | url }}">
    {# <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}"> #}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body id="page-top">
    <svg style="display:none"><symbol id="close-button" viewBox="0 0 32 32" style="overflow:visible"><path d="M0, 0 L32, 32 M32, 0 L0, 32"></path></symbol></svg>
    {# <div class="site-container"> #}
      <header class="header">
        {# <div class="header-inner"> #}
          <a class="header-logo" href="{{ '/' | url }}" title="Home">
            {# <div class="header-logo-text"> #}
              Charles Robertson
            {# </div> #}
          </a>

          {#- Read more about `eleventy-navigation` at https://github.com/11ty/eleventy-navigation #}
          <nav class="header-nav">
            <ul class="header-nav-list">
              {% for navItem in navItems %}
                <li class="header-nav-item {%- if (navItem.slug | isActive(page.fileSlug, tags[0])) %} current{% endif %}">
                  <div class="header-nav-item-inner">
                    <a href="/{{ navItem.slug }}/">{{ navItem.title }}</a>
                  </div>
                </li>
              {% endfor %}
            {# {{ collections.all | eleventyNavigation | console }} #}
            {# {{ collections.all | eleventyNavigation | notFilter('home') | eleventyNavigationToHtml({
              listClass: "header-nav-list",
              listItemClass: "header-nav-item",
              activeListItemClass: "header-nav-item--active",
              activeKey: eleventyNavigation.key
            }) | safe }} #}
            </ul>
          </nav>
        {# </div> #}
      </header>

      <main {% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
      </main>
      
      {% include "post-nav.njk" %}
      <script src="/js/imhance.js"></script>
    {# </div> #}
  {% include "footer.njk" %}
  </body>
</html>
