.imhance {
    &-close {
        --button-width: calc(1rem + 6vmin);
        display: none;
        position: fixed;
        left: calc(50% - calc(var(--button-width) / 2));
        width: var(--button-width);
        padding: calc(var(--button-width) / 4);
        border: calc(1px + (var(--button-width) / 16)) solid #000;
        box-shadow: calc(var(--button-width) / 12) calc(var(--button-width) / 12) 0 #000;
        transition: opacity var(--duration) linear;
        opacity: 0;

        &:focus {
            -moz-outline-radius: 75%;
        }
    }

    &__click-plate {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    
}