body {
    min-height: 100vh;
}

.site-container {
    display: flex;
    flex-direction: column;
    max-width: calc(70ch + 2 * var(--body-padding));
    margin-left: auto;
    margin-right: auto;
}

main {
    flex-grow: 1;
    margin: var(--s3) var(--body-padding) 0 var(--body-padding);

    > :first-child {
        margin-top: 0;
    }
}

.post-nav {
    display: flex;
    justify-content: space-between;
    margin-top: var(--s3);
}

