body {
    display: flex;
    flex-direction: column;
    max-width: 75ch;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    // padding: var(--s1);
}

main {
    flex-grow: 1;
    margin: var(--s3) var(--body-padding) 0 var(--body-padding);
    
    :first-child {
        margin-top: 0;
    }
}

.post {
    &-nav {
        display: flex;
        justify-content: space-between;
        margin-top: var(--s3);
    }
}

.footer {
    margin-top: var(--s3);
    padding: var(--body-padding);

    &-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 

        @media screen and (min-width: 18rem) {
            flex-direction: row;
        }
    }

    &-menu {
        @extend .stack;
        --space: var(--s-1);
    }

    

}