
.postlist {
    @extend .clear-list;
    --item-margin-x: var(--s1);
    --item-margin-y: var(--s3);
    overflow: hidden;

    &-inner {
        display: flex;
        flex-wrap: wrap;
        margin: calc(-1 * var(--item-margin-y) / 2) calc(-1 * var(--item-margin-x) / 2);
    }

    &-item {
        min-width: 14rem;
        flex-basis: calc(50% - var(--item-margin-x));
        flex-grow: 1;
        margin: calc(var(--item-margin-y) / 2) calc(var(--item-margin-x) / 2);
    }

    &-link {
        color: var(--color-base);
    }

    &-heading {
        display: inline-block;
        font-size: var(--s1);
        color: var(--color-text);
        margin-top: 0;
        margin-bottom: var(--s1);

        @extend .link-underline;
    }

    &-cover {
        @extend .media;
    }

    &-taglist {
        --tag-margin: .375em;
        // display: flex;
        @extend .clear-list;
        margin-top: var(--s-1);

        font-size: .875rem;
        line-height: 1;
        text-transform: lowercase;

        &-inner {
            text-align: right;
            margin: calc(-1 * var(--tag-margin) / 2);
        }
    }

    &-tag {
        display: inline-block;
        padding: .25em .5em;
        margin: calc(var(--tag-margin) / 2);
        background-color: var(--color-base);
    }
}