@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
  }

@font-face {
    font-family: 'Akzidenz Grotesk BQ Super';
    src:  url('fonts/AkzidenzGroteskBQ-Super.woff2') format('woff2'),
          url('fonts/AkzidenzGroteskBQ-Super.woff') format('woff');
    font-weight: 900;
}

$font-size-small: .875rem;
$font-size-normal: 1rem;
$font-size-large: var(--s1);

.body-font {
    font-family: "system";
    font-weight: 300;
}

.heading-font {
    font-family: 'Akzidenz Grotesk BQ Super', 'Helvetica Black', 'Arial Black', 'Helvetica', 'Arial', sans-serif;
    font-weight: 900;
}

body {
    @extend .body-font;
    background-color: var(--color-background);
}

h1, h2, h3 {
    @extend .heading-font;
}

h1, h2 {
    color: var(--color-base-dark);
}

p, ul, ol { margin: var(--s0) 0; }

h1 {
    font-size: var(--s3);
    margin: var(--s4) 0 var(--s3);
}

h2 {
    font-size: var(--s2);
    margin: var(--s3) 0 var(--s2);
}

h3 {
    font-size: var(--s1);
    margin: var(--s2) 0 var(--s1);
}

h4 {
    font-size: var(--s0);
    margin: var(--s1) 0 var(--s0);
    font-weight: 600;
}

a {
    color: var(--color-text);
    text-decoration: underline var(--color-base) 2px;
}
.post-nav {
    font-size: $font-size-small;    
}


.footer {
    font-size: $font-size-small;
    background-color: var(--color-text);
    position: relative;

    a {
        color: var(--color-base);
    }

    &-heading {
        font-size: $font-size-normal;
        margin: var(--s0) 0 var(--s-1);
        color: var(--color-background);
    };

    &-contentinfo {
        text-align: center;
        color: var(--color-text-light);
    }

    &-decoration {
        position: absolute;
        top: -2px;
        left: 0;
        width: 100%;
        border-top: 4px dashed var(--color-base);
        z-index: 2;
    }
}
