---
title: Projects
slug: projects
layout: layouts/page.njk
permalink: /projects/
coverImageClass: postlist-cover
eleventyNavigation:
  key: projects
  title: Projects
  order: 2
---
{% set postlist = (collections.projects | sortByOrder(true)) %}
{% include "postlist.njk" %}

