---
title: Work
slug: work
layout: layouts/page.njk
permalink: /work/
coverImageClass: postlist-cover
eleventyNavigation:
  key: work
  order: 1
  title: Work
---
{% set postlist = (collections.work | sortByOrder(true)) %}
{% include "postlist.njk" %}

