@font-face {
    font-family: "Computerfont";
    src: url("/fonts/ComputerfontRegular.eot"); /* IE9 Compat Modes */
    src:
      /* url("/fonts/ComputerfontRegular.eot?#iefix") format("embedded-opentype"),
      url("/fonts/ComputerfontRegular.otf") format("opentype"),
      url("/fonts/ComputerfontRegular.svg") format("svg"),
      url("/fonts/ComputerfontRegular.ttf") format("truetype"), */
      url("/fonts/ComputerfontRegular.woff") format("woff"),
      url("/fonts/ComputerfontRegular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: "Hyperwave";
  src: url("/fonts/hyperwave.woff2") format("woff2");
}

.page-home {
  .header {
    --header-unit: 1vmin;
    --header-padding: calc(5 * var(--header-unit));
    position: relative;
    max-width: initial;
    margin: 0;
    padding: 0;

    @media (min-width: 768px) {
      --header-unit: calc(.5625 * 1vw);
    }

    // &-logo {

    //   position: absolute;
    //   top: var(--header-padding);
    //   left: var(--header-padding);
    //   font-size: calc(1rem + (3 * var(--header-unit)));
    //   padding: calc(var(--s-1) + var(--header-unit));
    //   border: 1px solid (var(--color-text));
    //   z-index: 10;

    //   @media (orientation: landscape) {
    //     left: initial;
    //     right: var(--header-padding);
    //   }
    // }

    // &-nav {
    //   position: absolute;
    //   bottom: var(--header-padding);
    //   right: var(--header-padding);
    //   font-size: calc(1rem + var(--header-unit));
    //   z-index: 10;

    //   &-list {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: flex-end;
    //   }

    //   &-item {
    //     background-color: var(--color-base);
    //     font-weight: 600;
    //     text-transform: uppercase;
    //     margin-top: calc(6 * var(--header-unit));
    //     padding: var(--header-unit);
    //     border: 1px solid (var(--color-text));
    //   }
    // }
  }
}

.no-js .hero-home {
  background: url('../hero-fallback.svg');
}

.no-js .hero-home canvas {
  display: none;
}

.no-js .hero-home .tagline {
  display: none;
}

.hero-home {
  // --hero-width: 1920px;
  position: relative;
  color: var(--color-base);
  width: 100%;
  height: 100vh;
  @media (min-width: 768px) {
    height: 50vw;
    max-height: 25rem;
  }
  /* background-color: var(--color-text); */

  &-canvas {
    width: 100%;
    height: auto;
    background-color: var(--color-text);
    overflow: hidden;
  }

  &-overlay {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    &::before {
      content: "";
      display: block;
      flex-basis: 40%;
      flex-grow: 1;
    }
  }

  &-text {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 60%;
    position: relative;
    width: 100%;
    padding-bottom: 50%;

    &-inner {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      line-height: 1;
    }

    &-top {
      display: flex;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-55%, 0);
      font-family: 'Hyperwave', monospace;
      font-size: calc(30 * var(--header-unit));
      text-transform: uppercase;
      color: #FF2299;
      text-shadow: .025em .025em 0 var(--color-text), -1px -1px 0 var(--color-text), -1px 1px 0 var(--color-text), 1px -1px 0 var(--color-text), 1px 0 0 var(--color-text), -1px 0 0 var(--color-text), 0 1px 0 var(--color-text), 0 -1px 0 var(--color-text);
      z-index: 10;
    }

    &-plus {
      font-size: calc(20 * var(--header-unit));
    }

    &-bottom {
      display: block;
      position: absolute;
      left: 50%;
      top: 15%;
      transform: translate(-45%, 0);
      font-family: 'Computerfont', monospace;
      font-size: calc(37 * var(--header-unit));
      font-style: oblique;
      text-transform: lowercase;
      color: #8844FF;
      text-shadow: .035em .035em 0 var(--color-text), -1px -1px 0 var(--color-text), -1px 1px 0 var(--color-text), 1px -1px 0 var(--color-text), 1px 0 0 var(--color-text), -1px 0 0 var(--color-text), 0 1px 0 var(--color-text), 0 -1px 0 var(--color-text);
    }
  }
}

