<footer class="footer">
  <div class="footer-container">
    <nav class="footer-nav">
      <div class="footer-menu">
        <h3 class="footer-heading">Site</h3>
          {{ collections.all | eleventyNavigation | eleventyNavigationToHtml ({
            listClass: "footer-nav-list"
          }) | safe }}
      </div>
      <div class="footer-menu">
        <h3 class="footer-heading">Contact</h3>
        <ul class="footer-nav-list">
          <li><a href="mailto:contact@charlesrobertson.io">Email</a></li>
          <li><a href="https://twitter.com/tr0pical_nerd">Twitter</a></li>
        </ul>
      </div>
      <div class="footer-menu">
        <h3 class="footer-heading">Elsewhere</h3>
          <ul class="footer-nav-list">
          <li><a href="https://github.com/tr0pical1nternet">Github</a></li>
          <li><a href="https://codepen.io/tr0pical1nternet">Codepen</a></li>
          <li><a href="https://cocohost.co">Cocohost</a></li>
        </ul>
      </div>
    </nav>
    <div class="footer-contentinfo">
      &copy;2019 Charles Robertson
    </div>
    <div class="footer-decoration" role="presentation"></div>
  </div>
</footer>