<ol class="post-list {{ slug }}-list">
  {% for post in postslist %}
    <li class="post-item {{ slug }}-item">
      <h2 class="post-heading">{{ post.data.title }}</h2>
      <a href="{{ post.url | url }}" class="postlist-link">
        {% image post.data.cover.slug, post.data.cover.alt, coverImageClass %}
      </a>
      
      {% if (post.data.tags.length > 1) %}
        <ul class="post-taglist">{{ tags }}
          {% for tag in post.data.tags %}
            {%- if tag !== slug -%}
              <li class="post-tag">
                {{ tag }}
              </li>
            {%- endif -%}
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ol>
