<ol class="post-list {{ slug }}-list">
  {% for post in postslist %}
    <li class="post-item {{ slug }}-item">
      <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>

      {# {% srcset post.data.cover.src, post.data.cover.alt, "post-cover", 640 %} #}
      
      {% if (post.data.tags.length > 1) %}
        <ul class="post-taglist">{{ tags }}
          {% for tag in post.data.tags %}
            {%- if tag !== slug -%}
              <li class="post-tag">
                {{ tag }}
              </li>
            {%- endif -%}
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ol>
